.container {
  margin-inline: 7.5em;
  margin-top: 6em;
}

.header {
  width: 100%;
  height: 35em;
  margin-bottom: 10em;
}

.header_img_container {
  width: 100%;
  border-radius: 40px;
  height: 35em;
  overflow: hidden;

}

.header_image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 40px;
}

.title {
  width: fit-content;
  min-width: 24em;
  height: 10em;
  position: relative;
  top: -5em;
  left: 12.5em;

  border-radius: 24px;
  background-color: #20283ec7;
  backdrop-filter: blur(12px);
  box-sizing: border-box;

  padding: 2.5em;
}

.title h3 {

  font-size: 2.3em;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

.movie_info_container {
  margin-inline: 12.5em;
  display: flex;
  justify-content: space-between;

  margin-bottom: 5em;
}

.poster_container,
.movie_info {
  width: 47%;
}

.poster_container {
  height: 90%;
}

.poster_container img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

.movie_info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 3%;
}

.rating {
  width: 3.75em;
  height: 2.5em;
  background-color: #000000d8;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating_value {
  margin-left: 4px;
  color: #FFAD49;
}

.movie_info h4 {
  font-size: 1.8em;
  margin: 0;
}

.info_section_title {
  font-size: 1em;
}

.info_section_content,
.overview {
  font-size: 1.3em;
}

.info_section_content {
  color: #C3C8D4;
}

.map_container {
  margin-bottom: 10vh;
}

.map_title{
  font-size: 1.7em;
  margin: 0;
  margin-inline:3em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.4rem;
}

h4 {
  a {
    color: #263357;
    text-decoration: none;
    animation: line 0.5s ease-in-out;
  }

  a:hover {
    text-decoration: underline;
    color: #435a9a;
  }
}

.addToFavs{
  padding: 0;
  margin-top: 1em;
  background-color: #20283ec7;
  padding-inline: 0.5em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border-radius: 8px;
  
  border: none;
  color: #FFAD49;
  justify-content: left;
  text-align:start;
  font-weight: 400;
  font-size: 1.4em;
}

.addToFavs:hover {
  background-color: #232c44;

}

.svg{
  margin-right: 0.5em;
}

