.container {
  width: auto;
  padding-inline: 7.5em;
  margin: auto;
  margin-top: 5.2em;
  margin-bottom: 3vw;
  max-width: 1920px;
  min-width: 740px;
  min-height: 1080px;;
}

.map_container {
  margin-bottom: 10vh;
  width: 100%;
}

.map_title {
  font-size: 1.7em;
  margin: 0;
  margin-inline: 3em;
  margin-bottom: 0.5em;
}