.card {
    width: 24%;
    height: 30vw;
    max-height: 45em;
    min-height: 20em;
    background-color: #20283e;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    padding: 0.6em;
    border-radius: 12px;
    margin-bottom: 1.5em;

    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 0px 5px 1px #66729577;
}

.img_rating_container {
    width: 100%;
    height: 85%;
}

.image_container {
    width: 100%;
    height: 100%;
    position: relative;
}


.card_image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.favButton {
    padding: 0;
    width: 3em;
    height: 3em;
    z-index: 5;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 8px;
    float: right;
    background-color: #00000096;
    border-style: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.favButton.animate {
    transform: scale(1.1);
}
.favButton:hover {
    background-color: #000000d8;
}

.title_favButton {
    width: 100%;
    padding: 0;
    margin-top: 0.6em;
    height: 15%;
    display: flex;
    align-items: center;
    gap: 5%;
}

.card_title {
    margin: 0;
    font-weight: 600;
    width: 85%;
    font-size: clamp(0.5em, 1vw, 1.5rem)
}