.movie_list_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3%;
}

.loader {
  width: 84px;
  height: 84px;
  border: 10px solid #ebeef5b5;
  border-bottom-color: #ffad49b0;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}