.header{
    width: 100%;
    height: 5em;
    background-color: #121829d0;
    backdrop-filter: blur(20px);

    margin-bottom: 6em;
    position: fixed;
    top: 0;
    z-index: 50;
}

.navbar {
    width: auto;
    height: 100%;
    padding-inline: 7.5em;
    
    margin: auto;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar_div_logo {
    float: left; 

    height: 2.5em;
    width: 20%;
    object-fit: fill;

}

.link_logo {

    height: 2.5em;
    width: 2.5em;
}

.logo {
    width: auto;
    height: 100%;
}

.navbar_links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    float: right;
    list-style-type:none;
}

.navbar_link {
    color: #A8AEBF;
    font-weight: bold;
    text-decoration: none;
    float: right;
    transition: all 0.2s;
}

.active_navbar_link {
    color: #FFAD49;
    font-weight: bold;
    text-decoration: none;
    float: right;
    transition: all 0.15s;
    transform: scale(1.07);
}

.navbar_link, .active_navbar_link{
    font-weight: 600;
}
